<div id="footer">
  <div class="container">
    <p class="text-muted">
	  <!--
      <span class="hidden-xs pull-left">
        <a href="http://www.thingspeak.com/" title="Open Source Internet of Things">ThingSpeak.com</a> |
        <a href="http://community.thingspeak.com/" title="The ThingSpeak Blog covering the web of things">Blog</a> |
        <a href="http://community.thingspeak.com/forum/" title="Open discussion forum for ThingSpeak">Forum</a> |
        <a href="/docs" title="ThingSpeak Documentation">Documentation</a> |
        <a href="/docs/tutorials/" title="Tutorials on how to use ThingSpeak web services">Tutorials</a> |
        <a href="http://feeds.feedburner.com/internetofthings" title="Internet of Things RSS Feed" target="_blank">RSS Feed</a>
      </span>
      -->
      <p class="text-center">
        <%= Time.now.year %> <a href="#" title="泰盛">TsIoTs</a> - Powered by <a href="#" target="_blank">泰盛物聯網科技</a>
      </p>

    </p>
  </div>
</div>

